body {
    padding-top: 100px;
}
.progress{
    border-radius: 100px;
}
.bar-colorful{
    border-radius: 100px;
    background: #00F093;
}
.progress,
.bar-colorful{
    height: 10px;
}
.porcentaje-avance{
    /*text-align: center;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin-left: auto;*/
    /*margin-right: 0;*/
    /*width: 32px;*/
    /*font-size: 9px;*/
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: -26px;
    width: 32px;
    font-size: 11px;
    top: -5px;
    background-color: #efecec;
    border-radius: 100px;
    padding: 2px 5px;
}

.insignia-mini {
    width: 34px;
    height: 34px;
}

.curso-gratuito{
    position: absolute;
    color: #fff;
    background-color: #0a8ecd;
    padding: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: .6em;
    left: 11px;
}
.list-group .curso-nombre{
    margin-left: 10px;
    font-weight: 700;
}
.carrera-de{
    display: block;
    color: #fff;
}
.carrera-nombre{
    color: #fff;
}

.carrera-header{
    padding-top: 30px;
    padding-bottom: 50px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    color: #fff;
}
.carrera-header a{
    text-transform: uppercase;
    line-height: 1;
    text-decoration: none;
}
.carrera-nombre{
    font-size: 25px;
}

.btn-border-success{
    color: #4cae4c;
    border-color: #4cae4c;
}
.btn-border-success:hover,
.btn-border-success:focus {
    color: #469346;
    border-color: #469346;
}